.direct-sales {
	width:100%;
	@include clearfix;
	@include section-padding;
	background: url('../images/direct-sales/background.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	h2, h3, p {
		color: #fff;
	}
	
}
