$brand-color: #cf4d3c;

@mixin transition {
  -webkit-transition: all .2ms ease-in;
  -moz-transition: all .2ms ease-in;
  -ms-transition: all .2ms ease-in;
  -o-transition: all .2ms ease-in;
  transition: all .2ms ease-in;
}

@mixin extra-margin {
  margin-bottom: 50px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin section-padding {
  padding:100px 3%;
  @media screen and(max-width: 40em){
    padding:50px 10%;
  }
}

@mixin section-h2 {
  font-size: 2em;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  color: $brand-color;
  text-align: center;
  text-transform: uppercase;
}

@mixin section-h3 {
  text-align: center;
  margin-bottom: 50px;
}

@mixin section-h4 {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
}