@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin section-padding {
  padding:100px 0;
}

@mixin section-h2 {
  font-size: 2.75em;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
}

@mixin section-h3 {
  text-align: center;
}