.services {
	width:100%;
	@include clearfix;
	@include section-padding;
	background: #393b3d;
	color: #fff;
	h3 {
		color: #fff;
	}
	h4 {
		color: $brand-color;
	}
	ul {
		-webkit-margin-before: 0;
		-webkit-padding-start: 0;
		li {
			list-style-position: inside;
		}
	}
	.icons {
		width: 120px;
		height: 120px;
		display: block;
		margin-top: 30px;
	}


}