.team {
	width:100%;
	@include clearfix;
	@include section-padding;
	background: $brand-color;
	h2, h3, p {
		color: #fff;
	}
	h2 {
		@include extra-margin;
	}
	.bio {
		display: none;
		h4 {
			font-size: 2em;
		}
	}
	ul {
	text-align: center;
		li {
			display: inline-block;
			margin: 0 20px 40px;
			img {
				display: block;
				margin:0 auto 30px;
			}
			.member {
				width: 150px;
				display: block;
				margin: 0 auto;
			}
			button {
				display: block;
				clear: both;
				margin: 0 auto;
				border: 2px solid #fff;
				padding: 10px 20px;
				background: none;
				border-radius: 30px;
				&:hover {
					background: #fff;
					color: $brand-color;
				}
			}
			a {
				text-decoration: none;
				color: #fff;
			}
		}	
	}
}
